

<!-- search bar -->
 <form action="/restaurants">
        <div class="input-group mb-3">
          <input type="text" name="search" class="form-control" placeholder="Enter keyword to search..." aria-label="movies info"
            aria-describedby="button-addon-search" value="{{keyword}}">
          <button class="btn btn-outline-dark" type="submit" id="button-addon-search">Search</button>
        </div>
      </form>
</div>

  <!-- restaurant list -->
  <div class="row" id="data-panel">
    {{#each restaurants as |restaurant|}}
    <div class="col-sm-3">
      <a href="/restaurant/{{restaurant.id}}" class="text-secondary">
        <div class="card mb-2">
          <img class="card-img-top" src="{{restaurant.image}}" alt="Card image cap">
          <div class="card-body restaurant-item-body">
            <h6 class="card-name">{{restaurant.name}}</h6>
            <h6 class="card-category">{{restaurant.category}}</h6>
            <h6 class="card-rating">{{restaurant.rating}}</h6>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
    </div>